h1 {
	text-align: center;
}

canvas {
	display: block;
	margin: 0 auto;
}

#main {
	background-color: #f4f4f4;
}

.ui-content {
	margin-top: 50px;
}

#temperatur {
	font-size: 300%
}

#summary {
	font-size: 160%;
	text-align: center;
}

.js-icon {
	height: 25%;
	width: 50%;
}

.vorhersage {
	width: 95%;
 	margin: 0 auto 0 auto;
 	overflow: auto;
}

.wetterspalte {
	float: left;
	overflow: auto;
	width: 20%;
}

.day_icon {
	height: 50%;
	width: 100%;
	margin: 0 auto;
}

.day_temp {
	font-size: 120%;
	text-align: center;
}

.day_name {
	font-size: 100%;
	text-align: center;
}